body{
    margin: 0px;
}
.efeito{
    cursor: pointer;
    color: rgb(217,25,33,255);
    transition: 250ms;
    transform-origin: center center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.efeito:hover{
    color: white;
    transform: scale(1);
}
.efeito::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(217, 25, 31, 1);
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: 250ms all ease-out;
    transform-origin: left;
}
.efeito:hover::after{
    transform: scale(1);
    color: white;
}
.header{
    width: 100% - 25px;
    padding: 25px;
    padding-left: 100px;
    background-color: rgb(30, 30, 30);
    border-bottom: 3px solid rgb(217,25,33,255);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.logo{
    float: right;
    color: rgb(217,25,33,255);
    font-size: 50px;
    font-weight: 750;
    font-family: 'Bebas Neue', sans-serif;
    grid-area: 1 / 1 / 2 / 2;
    cursor: default;
}
.cadastrar{
    float: right;
    color: rgb(217,25,33,255);
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulos{
    float: right;
    color: rgb(217,25,33,255);
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assistidos{
    float: right;
    color: rgb(217,25,33,255);
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.atras{
    margin-top: auto;
    width: 90%;
    height: 100%;
    background-color: rgb(50, 50, 50);
    box-shadow:  0 0 1em rgba(217, 25, 31, 0.3);
    clip-path: inset(0 -2em 0 -2em);
}
.titulo{
    font-size: 40px;
    text-align: center ;
    width: 100%;
    height: 100%;
    background-color: rgb(30,30,30, 0.6);
    border-radius: 25px 0 25px 0;
    border: 2px solid rgba(217, 25, 31, 0.7);
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    box-shadow: 0 0 1em rgb(30, 30, 30),
          inset 0 0 1em rgb(20, 20, 20, 0.7);
    padding-bottom: 5px;
    margin: auto;
    margin-top: -20px;
    font-size: 35px;
}
.tipo{
    padding: 20px;
    font-size: 25px;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 5px;
}
.assistido{
    padding: 20px;
    font-size: 25px;
    text-align: left;
    padding-top: 5px;
}
.tcadastrados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: auto;
    height: 100%;
    gap: 80px;
    padding: 80px;
}
.footer{
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: rgb(30, 30, 30);
    border-top: 3px solid rgba(217, 25, 31, 1);
}
.criart{
    display: none;
    width: 100% -4px;
    height: 100%;
    float: right;
    color: rgb(217,25,33,255);
    font-size: 50px;
    font-weight: 750;
    font-family: 'Bebas Neue', sans-serif;
    grid-area: 1 / 1 / 8 / 5;
    
}
.nome{
    padding: 10px;
}
.nomet{
    width: 100%;
    height: 20%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tipot{
    margin: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assistidot{
    margin: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butaot{
    margin: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2{
    margin-top: auto;
    width: 70%;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}